@page "/Pdf/{codigo}/{accion}"
@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop;
@using SupplyChain;
@using Syncfusion.Blazor.FileManager;
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Navigations;
@using Syncfusion.ExcelExport;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Text.Json;
@using System.Threading.Tasks;
@using System.Web;
@using System.IO;
@using Syncfusion.Blazor.PdfViewer;
@using Syncfusion.Blazor.PdfViewerServer;
@if (rutas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (accion == "RUTAOF")
    {
        @foreach (Solution ruta in rutas)
        {
            if (ruta.CAMPO == "RUTAOF")
            {
                codigo = ruta.VALORC + codigo.Substring(0, 7) + ".pdf";
                if (File.Exists(codigo))
                {
                    <div class="control-section">
                        <SfPdfViewerServer DocumentPath="@codigo" Height="2000px" Width="100%"></SfPdfViewerServer>
                    </div>
                }
                else
                {
                    <label>No hay un plano asociado a la orden de Fabricación.</label>
                }
            }
        }
    }
    if (accion == "RUTACNC")
    {
        @foreach (Solution ruta in rutas)
        {
            if (ruta.CAMPO == "RUTACNC")
            {
                // Only get files that begin with the letter "c".
                string[] dirs = Directory.GetFiles(@$"{ruta.VALORC}", $"{codigo.Substring(0, 7)}*");
                for (int i = 0; i < dirs.Length; i++)
                {
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="@i">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="false" aria-controls="collapse@(i)">
                                        @(dirs.GetValue(i).ToString().Substring(ruta.VALORC.Length))
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse@(i)" class="collapse" aria-labelledby="@i" data-parent="#accordionExample">
                                <div class="card-body">
                                    @{
                                        userData1 = File.ReadAllLines(dirs.GetValue(i).ToString());
                                        @foreach (string dataLine in userData1)
                                        {
                                            @foreach (string dataItem in dataLine.Split(delimiterChar))
                                            {
                                                <label>@dataItem</label>
                                                <br />
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
    if (accion == "ENSAYOS")
    {
        @foreach (Solution ruta in rutas)
        {
            if (ruta.CAMPO == "RUTAENSAYO")
            {
                if (File.Exists(ruta.VALORC + $"ENS_{codigo}_1.pdf"))
                {
                    <div class="accordion" id="accordionExample">
                        @{
                            for (int i = 1; i < 4; i++)
                            {
                                string rutaDocumento = ruta.VALORC + $"ENS_{codigo}_{i}.pdf";
                                if (File.Exists(rutaDocumento))
                                {
                                    <div class="card">
                                        <div class="card-header" id="@i">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="false" aria-controls="collapse@(i)">
                                                    Ensayo @(i)
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapse@(i)" class="collapse" aria-labelledby="@i" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <SfPdfViewerServer DocumentPath="@rutaDocumento" Height="1000px" Width="750%"></SfPdfViewerServer>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                }
                else
                {
                    <label>No existen registros de ensayos para el pedido numero @(codigo)</label>
                }
            }
        }
    }
}

@code {
    private string DocumentPath { get; set; } = "E:/D-13870.pdf";

    [Inject] protected CustomHttpClient Http { get; set; }

    [Inject] protected Microsoft.JSInterop.IJSRuntime JS { get; set; }

    protected List<Solution> rutas;

    Array userData1 = null;

    char[] delimiterChar = { ',' };

    string docPath;

    [Parameter]
    public string codigo { get; set; }

    [Parameter]
    public string accion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        rutas = await Http.GetFromJsonAsync<List<Solution>>("api/Solution");

        await base.OnInitializedAsync();
    }
    private void DownloadText(string Nombre)
    {
        File.OpenRead(Nombre);
        //JS.InvokeVoidAsync("BlazorDownloadFile", $"{Nombre}.txt", "text/plain", Nombre);
    }
}
