@page "/sc/serie/list"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using System.Configuration;
@using System.Data.SqlClient;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.BarcodeGenerator
@using System.Text.Json
@using System.Linq
@inject IJSRuntime JsRuntime
@using SupplyChain
@using System.Net.Http.Json
@inject CustomHttpClient Http
@inject NavigationManager NavManager
@inherits SupplyChain.Pages.Series.SeriePageBase

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true" EnablePersistence="true"
                    @ref="Grid" DataSource="@series" AllowExcelExport="true" AllowRowDragAndDrop="true" AllowGrouping="true"
                    AllowSorting="true" AllowPaging="true" AllowFiltering="true" Toolbar="@Toolbaritems">
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridEvents OnToolbarClick="@ClickHandler" OnActionBegin="ActionBegin" TValue="Serie"></GridEvents>
                <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog">
                    <Template>
                        @{
                            var serie = (context as Serie);
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-Generalidades" role="tab" aria-controls="pills-home" aria-selected="true">Modelos</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-Generalidades" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Id:</label>
                                                <SfNumericTextBox ID="Id" @bind-Value="@(serie.Id)" Enabled="@Disabled"></SfNumericTextBox>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Código:</label>
                                                <SfTextBox ID="Codigo" @bind-Value="@(serie.Codigo)"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Descripcion:</label>
                                                <SfTextBox ID="Descripcion" @bind-Value="@(serie.Descripcion)"></SfTextBox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </Template>
                </GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(Serie.Id) HeaderText="Id" TextAlign="TextAlign.Left" IsPrimaryKey="true" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Serie.Codigo) HeaderText="Código" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Serie.Descripcion) HeaderText="Medida" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue;
    }
</style>
<style>
    #DropArea {
        padding: 50px 25px;
        margin: 30px auto;
        border: 1px solid #c3c3c3;
        text-align: center;
        width: 20%;
        display: inline-flex;
    }

    .e-file-select,
    .e-file-drop {
        display: none;
    }

    body .e-upload-drag-hover {
        outline: 2px dashed brown;
    }

    #uploadfile {
        width: 60%;
        display: inline-flex;
        margin-left: 5%;
    }
</style>


@*<SfQRCodeGenerator Width="200px" Height="150px" Value="http://www.aerre.com.ar/">
        <QRCodeGeneratorDisplayText text=" "></QRCodeGeneratorDisplayText>
    </SfQRCodeGenerator>*@
<style>
    #target {
        height: 500px;
    }
</style>
@code {
}