@page "/tipoarea/list"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using System.Configuration;
@using System.Data.SqlClient;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.BarcodeGenerator
@using System.Text.Json
@using System.Linq
@inject IJSRuntime JsRuntime
@using SupplyChain.Shared.Models
@using SupplyChain.Extensions
@using System.Net.Http.Json
@inject CustomHttpClient Http

@inject NavigationManager NavManager
@inherits TipoAreaPageBase

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true" EnablePersistence="true"
                    @ref="Grid" DataSource="@tipoareas" AllowExcelExport="true" AllowRowDragAndDrop="true" AllowGrouping="true"
                    AllowSorting="true" AllowPaging="true" AllowFiltering="true" Toolbar="@Toolbaritems">
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridEvents OnToolbarClick="@ClickHandler" OnActionBegin="ActionBegin" TValue="TipoArea"></GridEvents>
                <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog">
                    <Template>
                        @{
                            var tiparea = (context as TipoArea);
                            <div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="e-float-text e-label-top">Id:</label>
                                        <SfNumericTextBox ID="CG_TIPOAREA" @bind-Value="@(tiparea.CG_TIPOAREA)" Enabled="@Disabled"></SfNumericTextBox>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="e-float-text e-label-top">Nombre:</label>
                                        <SfTextBox CssClass="customClass" ID="DES_TIPOAREA" @bind-Value="@(tiparea.DES_TIPOAREA)"></SfTextBox>
                                    </div>
                                </div>

                      

                              

                           
                            </div>
                        }
                    </Template>
                </GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(TipoArea.CG_TIPOAREA) HeaderText="Id" TextAlign="TextAlign.Left" IsPrimaryKey="true"></GridColumn>
                    <GridColumn Field=@nameof(TipoArea.DES_TIPOAREA) HeaderText="Tipo" TextAlign="TextAlign.Left"></GridColumn>
                   
                   
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue;
    }
</style>

@*<SfQRCodeGenerator Width="200px" Height="150px" Value="http://www.aerre.com.ar/">
        <QRCodeGeneratorDisplayText text=" "></QRCodeGeneratorDisplayText>
    </SfQRCodeGenerator>*@

@code {
    
}
