@page "/sc/servicio/list"
@page "/sc/servicio/list/{pedido}"
@using Syncfusion.Blazor.FileManager;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using System.Configuration;
@using System.Data.SqlClient;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.BarcodeGenerator
@using System.Text.Json
@using System.Linq
@inject IJSRuntime JsRuntime
@using SupplyChain
@using System.Net.Http.Json
@using Syncfusion.Blazor.PdfViewerServer
@inject CustomHttpClient Http
@inject NavigationManager NavManager
@inherits SupplyChain.Pages.Servicios.ServicioPageBase
@using System.IO
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="aerre.jpg" alt="logo" /></a>
    <a class="navbar-brand" style=" font-weight: bold;" href="#">KANBAN</a>
    <a class="btn btn-outline-primary btn-sm oi oi-arrow-left" href="/">
        Volver
    </a>
</nav>
<br />
<br />
<br />
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true" EnablePersistence="true"
                    @ref="Grid" DataSource="@servDesc" AllowExcelExport="true" AllowRowDragAndDrop="true" AllowGrouping="true" AllowMultiSorting="true"
                    AllowSorting="true" AllowPaging="true" AllowFiltering="true" Toolbar="@Toolbaritems">
                <SfToolbar>
                    <ToolbarItems>
                        <ToolbarItem Type="ItemType.Input" Align="Syncfusion.Blazor.Navigations.ItemAlign.Left">
                            <Template>
                                <SfTextBox Placeholder="Buscar" Input="OnInput"></SfTextBox>
                                <span class="e-search-icon e-icons"></span>
                            </Template>
                        </ToolbarItem>
                    </ToolbarItems>
                </SfToolbar>
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridEvents OnToolbarClick="@ClickHandler" OnActionBegin="ActionBegin" TValue="Service"></GridEvents>
                <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog" Dialog="DialogParams">
                    <Template>
                        @{
                            var servicio = (context as Service);
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-Generalidades" role="tab" aria-controls="pills-home" aria-selected="true">Generalidades</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-DatosPlaca" role="tab" aria-controls="pills-profile" aria-selected="false">Datos de Placa</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-EnsRecepcion" role="tab" aria-controls="pills-contact" aria-selected="false">Ensayos a la Recepcion</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-TrEfec" role="tab" aria-controls="pills-contact" aria-selected="false">Trabajos Efectuados</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-file" role="tab" aria-controls="pills-contact" aria-selected="false">Documentación</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-Generalidades" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Pedido:</label>
                                                <SfTextBox ID="PEDIDO" @bind-Value="@(servicio.PEDIDO)" Enabled="@Disabled" Placeholder="Pedido"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Fecha:</label>
                                                <SfDatePicker ID="FECHA" @bind-Value="@(servicio.FECHA)" Enabled="@Disabled" Placeholder="Fecha"></SfDatePicker>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Cliente:</label>
                                                <SfTextBox ID="CLIENTE" @bind-Value="@(servicio.CLIENTE)" Enabled="@Disabled"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Planta:</label>
                                                <SfTextBox ID="PLANTA" @bind-Value="@(servicio.PLANTA)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Orden de Compra:</label>
                                                <SfTextBox ID="OCOMPRA" @bind-Value="@(servicio.OCOMPRA)" Enabled="@Disabled"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Remito Recepcion:</label>
                                                <SfTextBox ID="REMITOREC" @bind-Value="@(servicio.REMITOREC)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Descripción artículo:</label>
                                                <SfTextBox ID="DESCARTICULO" @bind-Value="@(servicio.DESCARTICULO)" Enabled="@Disabled"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Pedido anterior:</label>
                                                <SfTextBox ID="PEDIDOANT" @bind-Value="@(servicio.PEDIDOANT)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Fecha de mantenimiento anterior:</label>
                                                <SfTextBox ID="FECMANTANT" @bind-Value="@(servicio.FECMANTANT)"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Remito:</label>
                                                <SfTextBox ID="REMITO" @bind-Value="@(servicio.REMITO)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label>Observaciones:</label>
                                                <SfTextBox ID="OBSERV" @bind-Value="@(servicio.OBSERV)" Enabled="@Disabled" Multiline="true"></SfTextBox>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-DatosPlaca" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>TAG:</label>
                                                <SfTextBox ID="IDENTIFICACION" @bind-Value="@(servicio.IDENTIFICACION)"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <a href="/sc/marca/list" target="_blank">Marca:</a>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Marca" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.MARCA)" DataSource="@marcas">
                                                    <ComboBoxFieldSettings Value="MARCA" Text="MARCA"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Numero de Serie:</label>
                                                <SfTextBox ID="NSERIE" @bind-Value="@(servicio.NSERIE)"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Modelo:</label>
                                                <SfTextBox ID="MODELO" @bind-Value="@(servicio.MODELO)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <a href="/sc/medida/list" target="_blank">Medida:</a>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Medida" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.MEDIDA)" DataSource="@medidas">
                                                    <ComboBoxFieldSettings Value="Descripcion" Text="Descripcion"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <a href="/sc/serie/list" target="_blank">Serie:</a>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Serie" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.SERIE)" DataSource="@series">
                                                    <ComboBoxFieldSettings Value="Descripcion" Text="Descripcion"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <a href="/sc/orificio/list" target="_blank">Orificio:</a>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Orificio" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.ORIFICIO)" DataSource="@orificios">
                                                    <ComboBoxFieldSettings Value="Codigo" Text="Codigo"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Año:</label>
                                                <SfTextBox ID="AÑO" @bind-Value="@(servicio.AÑO)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Area:</label>
                                                <SfTextBox ID="AREA" @bind-Value="@(servicio.AREA)"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Fluido:</label>
                                                <SfTextBox ID="FLUIDO" @bind-Value="@(servicio.FLUIDO)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Sobrepresión:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Sobrepresiones" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.SOBREPRESION)" DataSource="@SobrepresionData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Presión:</label>
                                                <SfTextBox ID="PRESION" @bind-Value="@(servicio.PRESION)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Contrapresión:</label>
                                                <SfTextBox ID="CONTRAPRESION" @bind-Value="@(servicio.CONTRAPRESION)"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Tipo:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Tipos" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.TIPO)" DataSource="@TipoData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Temperatura:</label>
                                                <SfTextBox ID="TEMP" @bind-Value="@(servicio.TEMP)"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Resorte:</label>
                                                <SfTextBox ID="RESORTE" @bind-Value="@(servicio.RESORTE)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Presión en Banco:</label>
                                                <SfTextBox ID="PRESIONBANCO" @bind-Value="@(servicio.PRESIONBANCO)"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Servicio:</label>
                                                <SfTextBox ID="SERVICIO" @bind-Value="@(servicio.SERVICIO)"></SfTextBox>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-EnsRecepcion" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <div>

                                        <div class="form-row">
                                            @*<div class="form-group col-md-6">
                                                    <label>Ensayo a la Recepcion:</label>
                                                    <SfTextBox ID="ENSRECEP" @bind-Value="@(servicio.ENSRECEP)"></SfTextBox>
                                                </div>*@

                                            <div class="form-group col-md-6">
                                                <label>Ensayo a la Recepcion:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="SIoNO" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.ENSRECEP)" DataSource="@SIoNOData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Estado:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Estados" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.ESTADO)" DataSource="@EstadosData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Presión Ensayo Recepción:</label>
                                                <SfTextBox ID="PRESIONRECEP" @bind-Value="@(servicio.PRESIONRECEP)"></SfTextBox>
                                            </div>

                                            @*<div class="form-group col-md-6">
                                                    <label>Fugas:</label>
                                                    <SfTextBox ID="FUGAS" @bind-Value="@(servicio.FUGAS)"></SfTextBox>
                                                </div>*@

                                            <div class="form-group col-md-6">
                                                <label>Fugas:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="SIoNO" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.FUGAS)" DataSource="@SIoNOData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Presión de Fuga:</label>
                                                <SfTextBox ID="PRESIONFUGA" @bind-Value="@(servicio.PRESIONFUGA)"></SfTextBox>
                                            </div>

                                            @*<div class="form-group col-md-6">
                                                    <label>Cambio de Presión:</label>
                                                    <SfTextBox ID="CAMBIOPRESION" @bind-Value="@(servicio.CAMBIOPRESION)"></SfTextBox>
                                                </div>*@

                                            <div class="form-group col-md-6">
                                                <label>Cambio de Presión:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="SIoNO" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.CAMBIOPRESION)" DataSource="@SIoNOData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Presión solicitada:</label>
                                                <SfTextBox ID="PRESIONSOLIC" @bind-Value="@(servicio.PRESIONSOLIC)"></SfTextBox>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-TrEfec" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div>
                                        <div class="form-row">
                                            @*<div class="form-group col-md-6">
                                                    <label>Cambio de Repuesto:</label>
                                                    <SfTextBox ID="CAMBIOREPUESTO" @bind-Value="@(servicio.CAMBIOREPUESTO)"></SfTextBox>
                                                </div>*@

                                            <div class="form-group col-md-6">
                                                <label>Cambio de Repuesto:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="SIoNO" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.CAMBIOREPUESTO)" DataSource="@SIoNOData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Repuestos:</label>
                                                <SfTextBox ID="REPUESTOS" @bind-Value="@(servicio.REPUESTOS)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Codigo de nuevo Resorte:</label>
                                                <SfTextBox ID="CODRESORTE" @bind-Value="@(servicio.CODRESORTE)"></SfTextBox>
                                            </div>

                                            @*<div class="form-group col-md-6">
                                                    <label>Ensayo Contrapresion:</label>
                                                    <SfTextBox ID="ENSAYOCONTRAP" @bind-Value="@(servicio.ENSAYOCONTRAP)"></SfTextBox>
                                                </div>*@

                                            <div class="form-group col-md-6">
                                                <label>Ensayo Contrapresion:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="SIoNO" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.ENSAYOCONTRAP)" DataSource="@SIoNOData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Trabajos efectuados:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Trabajosefec" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.TRABAJOSEFEC)" DataSource="@trabajosEfectuados">
                                                    <ComboBoxFieldSettings Value="Descripcion" Text="Descripcion"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Trabajos Accesorios:</label>
                                                <SfTextBox ID="TRABAJOSACCES" @bind-Value="@(servicio.TRABAJOSACCES)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <a href="/sc/operario/list" target="_blank">Responsable:</a>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Operario" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.RESP)" DataSource="@opers">
                                                    <ComboBoxFieldSettings Value="DES_OPER" Text="DES_OPER"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <a href="/sc/operario/list" target="_blank">Controlo:</a>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Operario" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.CONTROLO)" DataSource="@opers">
                                                    <ComboBoxFieldSettings Value="DES_OPER" Text="DES_OPER"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            @*<div class="form-group col-md-6">
                                                    <label>POP:</label>
                                                    <SfTextBox ID="POP" @bind-Value="@(servicio.POP)"></SfTextBox>
                                                </div>*@

                                            <div class="form-group col-md-6">
                                                <label>POP:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="SIoNO" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.POP)" DataSource="@SIoNOData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Responsable Técnico:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Operario" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.RESPTECNICO)" DataSource="@opers">
                                                    <ComboBoxFieldSettings Value="DES_OPER" Text="DES_OPER"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            @*<div class="form-group col-md-6">
                                                    <label>OPDS:</label>
                                                    <SfTextBox ID="OPDS" @bind-Value="@(servicio.OPDS)"></SfTextBox>
                                                </div>*@

                                            <div class="form-group col-md-6">
                                                <label>OPDS:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="SIoNO" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.OPDS)" DataSource="@SIoNOData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Acta:</label>
                                                <SfTextBox ID="ACTA" @bind-Value="@(servicio.ACTA)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            @*<div class="form-group col-md-6">
                                                    <label>Presencia inspector:</label>
                                                    <SfTextBox ID="PRESENCIAINSPEC" @bind-Value="@(servicio.PRESENCIAINSPEC)"></SfTextBox>
                                                </div>*@

                                            <div class="form-group col-md-6">
                                                <label>Presencia Inspector:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="SIoNO" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.PRESENCIAINSPEC)" DataSource="@SIoNOData">
                                                    <ComboBoxFieldSettings Value="Text" Text="Text"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Responsable Técnico:</label>
                                                <SfComboBox TValue="string" CssClass="customClass" TItem="Operario" PopupWidth="auto" AllowFiltering="true"
                                                            @bind-Value="@(servicio.RESPTECNICO)" DataSource="@opers">
                                                    <ComboBoxFieldSettings Value="DES_OPER" Text="DES_OPER"></ComboBoxFieldSettings>
                                                </SfComboBox>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label>Observaciones del trabajo efectuado:</label>
                                                <SfTextBox ID="OBSERVMANT" @bind-Value="@(servicio.OBSERVMANT)" Multiline="true"></SfTextBox>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-file" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    @{
                                        @foreach (Solution ruta in rutas)
                                        {
                                            if (ruta.CAMPO == "RUTAENSAYO")
                                            {
                                                if (File.Exists(ruta.VALORC + $"ENS_{servicio.PEDIDO}_1.pdf"))
                                                {
                                                    <div class="accordion" id="accordionExample">
                                                        @{
                                                            for (int i = 1; i < 4; i++)
                                                            {
                                                                string rutaDocumento = ruta.VALORC + $"ENS_{servicio.PEDIDO}_{i}.pdf";
                                                                if (File.Exists(rutaDocumento))
                                                                {
                                                                    <div class="card">
                                                                        <div class="card-header" id="@i">
                                                                            <h2 class="mb-0">
                                                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="false" aria-controls="collapse@(i)">
                                                                                    Ensayo @(i)
                                                                                </button>
                                                                            </h2>
                                                                        </div>

                                                                        <div id="collapse@(i)" class="collapse" aria-labelledby="@i" data-parent="#accordionExample">
                                                                            <div class="card-body">
                                                                                <SfPdfViewerServer DocumentPath="@rutaDocumento" Height="640px" Width="750%"></SfPdfViewerServer>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <label>No existen registros de ensayos para el pedido numero @(servicio.PEDIDO)</label>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </Template>
                </GridEditSettings>

                <GridColumns>
                    <GridColumn Field=@nameof(Service.PEDIDO) HeaderText="Pedido" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" IsPrimaryKey="true" Width="90"></GridColumn>
                    <GridColumn Field=@nameof(Service.FECHA) Visible="false" HeaderText="Fecha" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.CLIENTE) HeaderText="Cliente" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="280"></GridColumn>
                    <GridColumn Field=@nameof(Service.PLANTA) Visible="false" HeaderText="Planta" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.OCOMPRA) Visible="false" HeaderText="Orden de Compra" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.REMITOREC) Visible="false" HeaderText="Remito Recepcion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.REMITO) Visible="false" HeaderText="Remito" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.IDENTIFICACION) Visible="false" HeaderText="Identificacion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.NSERIE) HeaderText="Numero de Serie" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Service.MARCA) HeaderText="Marca" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Service.MODELO) Visible="false" HeaderText="Modelo" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.MEDIDA) Visible="false" HeaderText="Medida" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.SERIE) Visible="false" HeaderText="Serie" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.ORIFICIO) Visible="false" HeaderText="Orificio" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.AREA) Visible="false" HeaderText="Area" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.FLUIDO) Visible="false" HeaderText="Fluido" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.AÑO) Visible="false" HeaderText="Año" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.PRESION) HeaderText="Presion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="90"></GridColumn>
                    <GridColumn Field=@nameof(Service.TEMP) Visible="false" HeaderText="Tempertatura" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.PRESIONBANCO) Visible="false" HeaderText="Presion de Banco" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.SOBREPRESION) Visible="false" HeaderText="SobrePresion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.CONTRAPRESION) Visible="false" HeaderText="ContraPresion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.TIPO) Visible="false" HeaderText="Tipo" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.RESORTE) Visible="false" HeaderText="Resorte" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.SERVICIO) Visible="false" HeaderText="Servicio" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.ENSRECEP) Visible="false" HeaderText="Ensayo recepcion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.ESTADO) HeaderText="Estado" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="135"></GridColumn>
                    <GridColumn Field=@nameof(Service.PRESIONRECEP) Visible="false" HeaderText="Presion Recepcion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.FUGAS) Visible="false" HeaderText="Fugas" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.PRESIONFUGA) Visible="false" HeaderText="Presion de Fuga" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.CAMBIOPRESION) Visible="false" HeaderText="Cambio de Presion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.PRESIONSOLIC) Visible="false" HeaderText="Presion Solicitada" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.CAMBIOREPUESTO) Visible="false" HeaderText="Cambio Repuesto" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.CODRESORTE) Visible="false" HeaderText="Codigo de Resorte" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.REPUESTOS) Visible="false" HeaderText="Repuestos" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.TRABAJOSEFEC) Visible="false" HeaderText="Trabajos Efectuados" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.TRABAJOSACCES) Visible="false" HeaderText="Trabajos Accesorios" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.MANOMETRO) Visible="false" HeaderText="Manometro" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.FECMANTANT) Visible="false" HeaderText="Fecha Mantenimiento Anterior" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.PEDIDOANT) Visible="false" HeaderText="Pedido Anterior" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.ENSAYOCONTRAP) Visible="false" HeaderText="Ensayo Contrapresion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.RESP) Visible="false" HeaderText="Responsable" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.CONTROLO) Visible="false" HeaderText="Controlo" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.POP) Visible="false" HeaderText="POP" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.RESPTECNICO) Visible="false" HeaderText="Responsable Tecnico" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.OPDS) Visible="false" HeaderText="OPDS" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.ACTA) Visible="false" HeaderText="Acta" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.PRESENCIAINSPEC) Visible="false" HeaderText="Presencia Inspector" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.DESCARTICULO) Visible="false" HeaderText="Descripcion Articulo" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Service.OBSERV) HeaderText="Observaciones" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="400"></GridColumn>
                    <GridColumn Field=@nameof(Service.OBSERVMANT) HeaderText="Observaciones Anteriores" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="400"></GridColumn>
                    <GridColumn Field=@nameof(Service.CATALOGO) Visible="false" HeaderText="Ver Catalogo" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="200"></GridColumn>

                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
@code {
}

<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue;
    }

    #DropArea {
        padding: 50px 25px;
        margin: 30px auto;
        border: 1px solid #c3c3c3;
        text-align: center;
        width: 20%;
        display: inline-flex;
    }

    .e-file-select,
    .e-file-drop {
        display: none;
    }

    body .e-upload-drag-hover {
        outline: 2px dashed brown;
    }

    #uploadfile {
        width: 60%;
        display: inline-flex;
        margin-left: 5%;
    }

    #target {
        height: 500px;
    }

    .head, .item {
        display: table;
        width: 100%;
        margin: auto;
    }

    .head {
        height: 40px;
        font-size: 15px;
        font-weight: 600;
    }

    .name, .city {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }

    .head .name {
        text-indent: 16px;
    }

    .e-custom-height {
        height: 100px;
    }
</style>