@page "/sc/celdas/list"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using System.Configuration;
@using System.Data.SqlClient;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.BarcodeGenerator
@using System.Text.Json
@using System.Linq
@inject IJSRuntime JsRuntime
@using SupplyChain
@using System.Net.Http.Json
@inject CustomHttpClient Http
@inject NavigationManager NavManager
@inherits SupplyChain.Pages.Celda.CeldaPageBase

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true" EnablePersistence="true"
                    @ref="Grid" DataSource="@celdas" AllowExcelExport="true" AllowRowDragAndDrop="true" AllowGrouping="true"
                    AllowSorting="true" AllowPaging="true" AllowFiltering="true" Toolbar="@Toolbaritems">
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridEvents OnToolbarClick="@ClickHandler" OnActionBegin="ActionBegin" TValue="Celdas"></GridEvents>
                <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog">
                    <Template>
                        @{
                            var celda = (context as Celdas);
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-Generalidades" role="tab" aria-controls="pills-home" aria-selected="true">Modelos</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-Generalidades" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Codigo:</label>
                                                <SfTextBox ID="Codigo" @bind-Value="@(celda.CG_CELDA)" Enabled="@Disabled"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Descripcion:</label>
                                                <SfTextBox ID="Descripcion" @bind-Value="@(celda.DES_CELDA)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Area:</label>
                                                <SfNumericTextBox ID="Area" @bind-Value="@(celda.CG_AREA)"></SfNumericTextBox>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Serie:</label>
                                                <SfNumericTextBox ID="Serie" @bind-Value="@(celda.CG_SERIE)"></SfNumericTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <!--<div class="form-group col-md-6">
            <label class="e-float-text e-label-top">Ilimitada:</label>
            <SfCheckBox ID="Ilimitada" @bind-Value="@(celda.ILIMITADA)"></SfCheckBox>
        </div>-->
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Responsable:</label>
                                                <SfTextBox ID="Responsable" @bind-Value="@(celda.RESP)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Controles:</label>
                                                <SfTextBox ID="Controles" @bind-Value="@(celda.CONTROLES)"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">TS1:</label>
                                                <SfNumericTextBox ID="TS1" @bind-Value="@(celda.TS1)"></SfNumericTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">TS2:</label>
                                                <SfNumericTextBox ID="TS2" @bind-Value="@(celda.TS2)"></SfNumericTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Coeficiente:</label>
                                                <SfNumericTextBox ID="Coeficiente" @bind-Value="@(celda.COEFI)"></SfNumericTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Codigo Producto:</label>
                                                <SfTextBox ID="Codigo Producto" @bind-Value="@(celda.CG_PROD)"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Cantidad:</label>
                                                <SfNumericTextBox ID="Cantidad" @bind-Value="@(celda.CANT)"></SfNumericTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Tiempo de Fabricacion:</label>
                                                <SfNumericTextBox ID="Tiempo de Fabricacion" @bind-Value="@(celda.TIEMPOFAB)"></SfNumericTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Fecha Inicial:</label>
                                                <SfDateTimePicker ID="Fecha Inicial" @bind-Value="@(celda.FE_INICIAL)"></SfDateTimePicker>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Hora de Inicio:</label>
                                                <SfNumericTextBox ID="Hora de Inicio" @bind-Value="@(celda.HS_INICIAL)"></SfNumericTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Fecha Final:</label>
                                                <SfDateTimePicker ID="Fecha Final" @bind-Value="@(celda.FE_FINAL)"></SfDateTimePicker>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Hora Final:</label>
                                                <SfNumericTextBox ID="Hora Final" @bind-Value="@(celda.HS_FINAL)"></SfNumericTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Fecha Final:</label>
                                                <SfTextBox ID="Fecha Final" @bind-Value="@(celda.OBSERVAC)"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Codigo Operario:</label>
                                                <SfNumericTextBox ID="Codigo Operario" @bind-Value="@(celda.CG_OPER)"></SfNumericTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Codigo cliente:</label>
                                                <SfNumericTextBox ID="Codigo cliente" @bind-Value="@(celda.CG_CLI)"></SfNumericTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">Codigo Proveedor:</label>
                                                <SfNumericTextBox ID="Codigo Proveedor" @bind-Value="@(celda.CG_PROVE)"></SfNumericTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-float-text e-label-top">CG_COS:</label>
                                                <SfNumericTextBox ID="CG_COS" @bind-Value="@(celda.CG_COS)"></SfNumericTextBox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </Template>
                </GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(Celdas.CG_CELDA) HeaderText="Id" TextAlign="TextAlign.Left" IsPrimaryKey="true" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.DES_CELDA) HeaderText="Descripcion" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_AREA) HeaderText="Area" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_SERIE) HeaderText="Serie" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.ILIMITADA) HeaderText="Serie" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.RESP) HeaderText="Resp" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CONTROLES) HeaderText="Controles" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.TS1) HeaderText="Ts1" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.TS2) HeaderText="Ts2" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.COEFI) HeaderText="Coefi" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_PROD) HeaderText="CG_PROD" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CANT) HeaderText="CANT" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.TIEMPOFAB) HeaderText="TIEMPOFAB" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.FE_INICIAL) HeaderText="FE_INICIAL" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.HS_INICIAL) HeaderText="HS_INICIAL" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.FE_FINAL) HeaderText="FE_FINAL" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.HS_FINAL) HeaderText="HS_FINAL" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.OBSERVAC) HeaderText="OBSERVAC" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_OPER) HeaderText="CG_OPER" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_CLI) HeaderText="CG_CLI" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_PROVE) HeaderText="CG_PROVE" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_COS) HeaderText="CG_COS" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_PREDIO) HeaderText="CG_PREDIO" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.VALOR_AMOR) HeaderText="VALOR_AMOR" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.VALOR_MERC) HeaderText="VALOR_MERC" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.MONEDA) HeaderText="MONEDA" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CANT_ANOS) HeaderText="CANT_ANOS" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CANT_UNID) HeaderText="CANT_UNID" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.REP_ANOS) HeaderText="REP_ANOS" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.M2) HeaderText="M2" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.ENERGIA) HeaderText="ENERGIA" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.COMBUST) HeaderText="COMBUST" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.AIRE_COMP) HeaderText="AIRE_COMP" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.SETUP_OPT) HeaderText="SETUP_OPT" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.FE_REG) HeaderText="FE_REG" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.NOMAQ) HeaderText="NOMAQ" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.PLC) HeaderText="PLC" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_TIPOCELDA) HeaderText="CG_TIPOCELDA" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_DEPOSM) HeaderText="CG_DEPOSM" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.ACT_PRODIN) HeaderText="ACT_PRODIN" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_OPER_ACTUAL) HeaderText="CG_OPER_ACTUAL" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.CG_SUPER_ACTUAL) HeaderText="CG_SUPER_ACTUAL" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(Celdas.ULTIMO_REGISTRO_TRANSFERIDO_PLC) HeaderText="ULTIMO_REGISTRO_TRANSFERIDO_PLC" TextAlign="TextAlign.Left" Width="200"></GridColumn>

                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue;
    }
</style>
<style>
    #DropArea {
        padding: 50px 25px;
        margin: 30px auto;
        border: 1px solid #c3c3c3;
        text-align: center;
        width: 20%;
        display: inline-flex;
    }

    .e-file-select,
    .e-file-drop {
        display: none;
    }

    body .e-upload-drag-hover {
        outline: 2px dashed brown;
    }

    #uploadfile {
        width: 60%;
        display: inline-flex;
        margin-left: 5%;
    }
</style>


@*<SfQRCodeGenerator Width="200px" Height="150px" Value="http://www.aerre.com.ar/">
        <QRCodeGeneratorDisplayText text=" "></QRCodeGeneratorDisplayText>
    </SfQRCodeGenerator>*@
<style>
    #target {
        height: 500px;
    }
</style>
@code {
}